{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/pairings/pairing-detail.css' %}" />
{% endblock %} 

{% block content %}

<div class="card">
  <div class="card-content">
    <h2>{{ pairing.name }}</h2>
    <img src="{{ pairing.image.url }}" alt="{{ pairing.name }}" style="max-width: 100%; max-height: 300px;" />
  </div>
</div>

<a href="{% url 'pairing-update' pairing.id %}" class="btn warn">Edit</a>
<a href="{% url 'pairing-delete' pairing.id %}" class="btn danger">Delete</a>

{% endblock %}
