{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TypeBook</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/typebook-straightlogo.svg' %}" alt="TypeBook Logo" />
        </a>
      </div>

      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'typeface-index' %}">All Typefaces</a></li>
            <li><a href="{% url 'pairing-index' %}">All Pairings</a></li>
            <li><a href="{% url 'typeface-create' %}">Add Typeface</a></li>
            <li><a href="{% url 'pairing-create' %}">Add Pairing</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %} 
      {% endblock %}
    </main>
  </body>
</html>
