{% extends 'base.html' %} 
{% load static %} 

{% block head %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}
<div class="form-page">

  <div class="form-section">
    <div class="page-header">
      <h1>Sign up</h1>
    </div>

    {% if error_message %}
      <p class="red-text">{{ error_message }}</p>
    {% endif %}

    <form action="" method="post" class="form-container" autocomplete="off">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn submit">Sign up</button>
    </form>
  </div>

  <div class="graphic-section">
    <img src="{% static 'images/form-image.svg' %}" alt="Signup Graphic" />
  </div>

</div>
{% endblock %}
