.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 275px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card-img-container {
  width: 100%;
  height: 220px;
  padding: 16px;
  box-sizing: border-box;
}

.card-img-container img {
  width: 100%; 
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid white;
  display: block;
}

.card-content {
  padding: 16x;
  color: var(--text-color);
  text-align: center;
}

.card-content h2 {
  font-size: var(--font-xl);
  margin: 0px 0 0;
  padding-top: 30px;
  padding-bottom: 20px;
  color: var(--text-color);
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-content h2 a {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
}
