{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/typefaces/typeface-index.css' %}" />
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Typefaces</h1>
</section>

<section class="card-container">
  {% for typeface in typefaces %}
  <div class="card">
    <div class="card-content">
      <a href="{% url 'typeface-detail' typeface.id %}">
        <div class="card-img-container">
          <img src="{{ typeface.image.url }}" alt="{{ typeface.name }} image" />
        </div>
      </a>
      <h2 class="card-title">{{ typeface.name }}</h2>
      <p><strong>Designer:</strong> {{ typeface.designer }}</p>
      <p><strong>Classification:</strong> {{ typeface.classification }}</p>
      <a href="{{ typeface.link }}" target="_blank" class="download-link">Download</a>
    </div>
  </div>
  
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
